*.aut
*.aux
*.bak
*.bbl
*.bix
*.blg
*.bmt
*.cp
*.cps
*.dvi
*.fdb_latexmk
*.fn
*.fns
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.kilepr
*.ky
*.lof
*.log
*.lol
*.lot
*.maf
*.ml[ft]*
*.mtc
*.mtc*
*.mtc0
*.mtc1
*.nav
*.nlo
*.out
*.pdf
*.pfg
*.pg
*.prj
*.ps
*.sav
*.snm
*.synctex.gz
*.tcp
*.tmnp
*.tmp
*.toc
*.tp
*.tps
*.vr
*.vrs
*~
adt/
prep/thesisdifctunl.zip
prep/thesisdifctunl_vanilla/
prep/ThesisDIFCTUNL-2013-11-14.zip
prep/ThesisDIFCTUNL-2014-01-21.zip
